<h1>Quester</h1>

<header class="header-image">
    <div class="headline">
        <div class="container">
            <h2>Quester</h2>
            <h3>The place to get the best answers to your questions</h3>
            <%= link_to 'Ask a Question', new_question_path, class: 'btn btn-danger btn-lg' %>
            <%= link_to 'See all Questions', questions_path, class: 'btn btn-danger btn-lg' %>
        </div>
    </div>
</header>